
.hidden {
  display: none;
}

.uploadButton {
  & > label {
    padding: 0 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  margin-bottom: 1vw;
}